.custom-datepicker {
      display: flex;
      flex-direction: column;
      gap: 5px;
      margin-bottom: 15px;
}

.custom-datepicker label {
      font-size: 14px;
      font-weight: bold;
      color: #333;
      text-align: left;
}

.custom-datepicker .MuiOutlinedInput-root {
      width: 100%;
      border-color: #ccc !important;
      font-size: 12px;
      text-align: left;
      border-radius: 5px;
      height: 38px;
      background-color: #fff;
      color: #333;
      box-sizing: border-box;
}

/* Icône du DatePicker */
.custom-datepicker .MuiIconButton-root {
      background-color: transparent !important;
      padding: 8px;
      border-radius: 4px;
}

/* Appliquer la couleur de fond uniquement quand une date est sélectionnée */
.custom-datepicker .MuiOutlinedInput-root.MuiInputBase-adornedEnd:has(.MuiInputBase-input:not(:placeholder-shown)) {
      background-color: rgb(232, 240, 254) !important;
}

/* Placeholder styling */
.custom-datepicker .MuiInputBase-input::placeholder {
      color: #aaa;
      font-size: 14px;
      text-align: left;
}

/* Style des jours dans le calendrier */
.custom-datepicker .MuiPickersDay-root {
      font-size: 20px;
}

/* Style du jour actuel dans le calendrier */
.custom-datepicker .MuiPickersDay-today {
      background-color: #007bff !important;
      color: white !important;
}

/* Ajustement pour mobile */
@media (max-width: 768px) {
      .custom-datepicker .MuiOutlinedInput-root {
            font-size: 12px;
            padding: 4px;
      }
}
