/* Input en erreur */

.custom-select-container input.error {
      border-color: #e74c3c;
      background-color: #fdecea;
}

.container-input-error {
      display: flex;
      flex-direction: column;
      margin-bottom: 1rem;
}
.container-input-select-error {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
}
.error-select {
      color: #e74c3c;
      font-size: 10px;
      font-weight: 500;
      margin-top: -0.5rem;
      margin-left: 5px;
      text-align: left;
}
.container-input-select-error {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
}

.error {
      color: #e74c3c;
      font-size: 10px;
      font-weight: 500;
      margin-top: 0.3rem;
      margin-bottom: 0;
      text-align: left;
}
