.main-nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 5px 10px;
      background-color: white;
}
.main-nav-items ul {
      display: flex;
      flex-direction: row;
      list-style: none;
      gap: 1rem;
}
.main-nav-item {
      color: #2c3e50;
      text-decoration: none;
      font-weight: bold;
      transition: color 0.3s ease;
}

.main-nav-logo {
      height: 10vh;
      width: 10vw;
}
.main-nav-item:hover {
      text-decoration: underline;
      cursor: pointer;
}
